.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* Mobile responsive styles */
@media screen and (max-width: 767px) {
  .features {
    padding: 1rem 0;
  }

  .featureSvg {
    height: 150px;
    width: 150px;
  }
}

/* Tablet responsive styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .features {
    padding: 1.5rem 0;
  }

  .featureSvg {
    height: 175px;
    width: 175px;
  }
}

/* Section headings */
.featuresHeader {
  margin-bottom: 3rem;
}

.featuresFooter {
  margin-top: 3rem;
}

/* Mobile adjustments for section spacing */
@media screen and (max-width: 767px) {
  .featuresHeader {
    margin-bottom: 2rem;
  }

  .featuresFooter {
    margin-top: 2rem;
  }
}
